{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div>
    <a href="{{ url('app_login') }}">Connexion</a>
    <a href="">Inscription</a>
</div>

{% endblock %}
